<!DOCTYPE html>
<html>
<body>

<h2>Inter</h2>

<p>Enter details</p>
<form action="/" method="POST">
    <label for="fname">Enter AOI x:</label><br>
    <input type="number" id="fname" name="x"><br>
    <label for="lname">Enter AOI y:</label><br>
    <input type="number" id="lname" name="y"><br>
    <label for="lname1">Enter AOI r:</label><br>
    <input type="number" id="lname1" name="r"><br>
    <label for="lname2">Enter AOI Type:</label><br>
    <input type="text" id="lname2" name="type"><br>
    <label for="fnames">Enter AOI xx:</label><br>
    <input type="number" id="fnames" name="xx"><br>
    <label for="lnames">Enter AOI yy:</label><br>
    <input type="number" id="lnames" name="yy"><br>
    <label for="lname1s">Enter AOI rr:</label><br>
    <input type="number" id="lname1s" name="rr"><br>
    <input type="submit" value="Submit"><br>
  </form>
  <form action="/many" method="POST">
    <label for="fnamex">Enter number of nodes:</label><br>
    <input type="number" id="fnamex" name="n"><br>
    <label for="lnamex">Enter AOI Type:</label><br>
    <input type="text" id="lnamex" name="typex"><br>
    <input type="submit" value="Submit2"><br>
  </form>
</body>
</html>
